




.btn {
    background-color: rgb( 255,255,255,0.7);
    padding: .5rem; 
    position: fixed;
    top: 10%;
    left: 0;
    transition: all 0.5s ease-in-out;
}
  
.btn__open {
    background-color: rgb( 255,255,255,0.7);
    padding: .5rem; 
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 2;
}
   


.menuContent {
    text-align: center;
    background-color: var(--yellow);
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    transform: translateX(-999px);
}

.menuContent__open{
    text-align: center;
    background-color: var(--yellow);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.location__content{
    margin: 0 1rem;
}

.menuContent > h3 {
    font-size: 1.2rem;
    font-family: Playfair Display;
    font-weight: normal;
    color: white;
}
  
.location__content > p {
    text-align: left;
    font-size: 1rem;
    font-family: Alegreya;
    color: var(--black);
}
  

@media screen and (min-width: 1200px) {
    .menuContent{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self:flex-start;
    }

    .location__content {
        display: flex;
        align-items: center;
        margin: 2rem;
        max-width: 900px;
        gap: 1rem;
    }

    .btn{
        width: 50px;
    }
    
}












