################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gamebook.client/obj/Debug/gamebook.client.esproj.CoreCompileInputs.cache
