.container{
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.player{
    position: absolute;
    left: 5%;
}

.player_health{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: blue;
}

.enemy{
    position: absolute;
    right: 5%;
}

.enemy_health{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: red;
}