.container{
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.player{
    position: absolute;

    left: 5%;
}

.enemy{
    position: absolute;
    right: 5%;
}
