.room__screen {
    background-color: var(--brown); 
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .container {
      display: grid;
      grid-template-columns: 1fr; 
      gap: 1rem; 
  }
    
  .category{
    font-size: 1.2rem;
    font-family: 'Lora';
    margin: 1rem;
    font-weight: 600;
  }
  
  @media screen and (min-width: 1200px) {
      .room__screen{
          height: 100vh;
      }
      .container{
          grid-template-columns: repeat(2, 1fr);
         
      }
    
  }
    
