.btn{
    background-color: var(--light-brown);
    color: var(--brown);
    display: flex;
    align-self: end;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: .8rem;
    width: fit-content;
}