@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
  }
  
.image {
    width: calc(100% / 10);
    height: auto;
    margin: .5rem;
}
  
.name {
    font-family: 'Lora';
    margin-block: 0;
  }
  
.description {
    font-family: 'Lora';
}
  
.price {
    margin: 0;
  }
  
.text {
    margin-right: auto;
  }

.coins{
    width: 20px;
    height: auto;
  }

.price__container{
    display: flex;
    align-items: center;
    gap: .2rem;
}
